<!DOCTYPE html>
<html lang="fr-FR">

    <head>
        <title>Projet Navigateur</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site Hebergeur de notre gps">
        <link rel="stylesheet" href="./static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto&display=swap" rel="stylesheet">
        <script src="./static/javascript/scripts.js" async></script>
    </head>
    <body>
        <header>
            <h1>Trouver le One Piece</h1>
        </header>
        <nav>
            <div class="table">
                <ul>
                    <li class="menu-ind">
                        <a href="./">Accueil</a>
                    </li>
                    <li class="menu-con">
                        <a href="./contact">Contactez-moi !</a>
                    </li>
                    <li>
                        <button type="button" onclick="dark()" class="btn">NUIT</button>
                    </li>
                </ul>
            </div>
        </nav>
        <article>
            <section class="presentation">
                <h1>Tester Notre GPS</h1>
				
                <div class="sec">
				<h2>Appuyer en bas</h2>
                    <div class="left" >
                        <h1>Fait par notre equipe de developpeur professionnelles</h1>
                        <img class="logo" src="./static/image/dev.jpeg" alt="Image html">
					   
                    </div>
					
                    <div class="right">
                        <p>Nous allons vous présentez notre projet Le Navigateur</p>
						<p> Si vous voulez tester son fonctionnement veuillez appuyer sur la terre </p>
						<a href="./carte"><img class="maps" src="./static/image/maps.png"></a>
						<img class="logo" src="https://i.pinimg.com/originals/2e/6b/45/2e6b4537f03290cbdcf32566d34cd4db.gif" alt="Image html">
						
                    </div>
					
                </div>
                <div class="sec">

                        
                    </div>
               
                    </div>
                </div>
            </section>
        </article>

    <body>  

</html>